@model IEnumerable<core2Bowling.Models.Game>

@{
    ViewData["Title"] = "Index";

}

<h2>Index</h2>

<div>
    <a asp-action="Create">Create New</a>
    <form asp-action="AutoPractice">
        <div class="form-group">
            <input type="submit" value="자동연습" class="btn btn-default" />
        </div>
    </form>
    <form asp-action="AutoPlay">
        <div class="form-group">
            <input type="submit" value="자동경기" class="btn btn-default" />
        </div>
    </form>

</div>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Playtime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Place)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GameKind)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GameContent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Group)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Playtime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameKind)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a> |
                <a asp-controller="TeamMembers" asp-action="Index" asp-route-id="@item.ID">경기설정</a>
                <a asp-controller="TeamMembers" asp-action="IndexVertical" asp-route-id="@item.ID">경기설정2</a>
                <a asp-controller="TeamMembers" asp-action="IndexGame" asp-route-id="@item.ID">경기설정3</a>
            </td>
        </tr>
}
    </tbody>
</table>
