@model core2Bowling.Models.TeamMember

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TeamMember</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sequence)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sequence)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Average)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Average)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bowler)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bowler.BowlerID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Team)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Team.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
