@model IEnumerable<core2Bowling.Models.TeamMember>

@{

    ViewData["Title"] = "Edit Team";
    var game = Model.First().Team.SubGame.Game;

}

<h2>팀 수정  &nbsp;&nbsp;<small><i class="glyphicon glyphicon glyphicon-hand-right"></i> 팀 구성원을 변경합니다</small></h2>
<hr />
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">팀 수정</h3>
    </div>
    <div class="panel-body">
        <div class="text-danger  pull-left">@game.GameKind  @(string.IsNullOrEmpty(game.GameContent) ? "" : "(" + game.GameContent + ")")</div>
        &nbsp;&nbsp; | &nbsp;&nbsp;  @Model.First().Team.SubGame.Round 번째 게임  &nbsp;&nbsp; | &nbsp;&nbsp; @game.Playtime  &nbsp;&nbsp; | &nbsp;&nbsp; @game.Place <br />
    </div>
</div>

<hr />


<div class="clearfix"></div>

<div class="row">

    <form asp-action="EditTeam" name="frm">
        <input type="hidden" id="Id" value="@Model" />
        <div class="row style-select">
            <div class="col-md-3">
                <label class="control-label">회원</label>

                @*<select multiple id="lstMember" name="lstMember" class="form-control" asp-items="ViewBag.BowlerID"></select>*@
                <select multiple class="form-control" id="lstMember">
                    @foreach (var item in ViewData["BowlerID"] as List<Bowler>)
                    {
                        <option value="@item.BowlerID">@item.Name (@item.BowlerAverage.Average/@item.BowlerAverage.Handicap)</option>

                    }

                </select>
            </div>
            
               
                @{ var divTeam = String.Empty;
                    var selTeam = string.Empty;
                    var teamIds = Model.Select(t => t.TeamID).Distinct().ToArray();
                    //int cnt = 0;
                }

            <div class="col-md-9">
            @for (int j = 0; j < 2; j++)
            {
                var teamAsc = 63 + j;  //팀분류코드 (A팀, B팀)
               

                <div class="col-xs-6" id="teamDiv-@j">
               @for (int i = j; i < teamIds.Count(); i = i + 2)
               {
                   divTeam = "dteam" + i;
                   selTeam = "steam" + i;
                   teamAsc=teamAsc + 2;
                   

                <div class="row divTeam" id="@divTeam" style="margin-bottom:15px">
                    <input type="hidden" name="teamCnt" class="teamCnt" value="@Model.Where(t=>t.TeamID==teamIds[i]).Count()" />
                    <div class="col-md-3 col-sm-3 col-xs-3 add-btns">
                        <input type="button" value="추 가" class="btn btn-default" name="btnAdd" />
                    </div>

                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <label class="selected-left control-label">Team @((Char)teamAsc) 팀원</label>
                        <div class="selected-left">
                            <select multiple class="form-control" name="selectLst" id="@selTeam">

                                @foreach (var item in Model.Where(t => t.TeamID == teamIds[i]))
                             {
                                    <option value="@item.BowlerID">@item.Bowler.Name (@item.Bowler.BowlerAverage.Average/@item.Bowler.BowlerAverage.Handicap)</option>

                             }

                            </select>

                        </div>

                        <div class="selected-right">
                            <button type="button" class="btn btn-default btn-sm" name="btnUp">
                                <span class="glyphicon glyphicon-chevron-up"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-sm" name="btnDown">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-sm" name="btnRemove">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </div>
                </div>

                 
                   //cnt++;

               }
                </div>

            }

            </div>
        </div>
     </form>
</div>


<div class="pull-right">
    <input type="button" class="btn btn-primary" name="btnSelAdd" value="추가" />
    <input type="button" class="btn btn-primary" name="btnSelDel" value="삭제" />
    <input type="button" class="btn btn-primary" name="btnSubmit" value="확인" />
    <a class="btn btn-danger" asp-action="Index" asp-route-id="@game.ID" asp-route-game="@Model.First().Team.SubGame.Round">Back to List</a>
</div>

<div class="clearfix"></div>
<hr />


@section Scripts {
    <script src="~/js/jquery.selectlistactions.js"></script>

    <script>
        $(function () {

            $(document).on("click", "input[name=btnAdd]", function () {

                var node = $(this).parent().next().children().find('select');
                //alert(node.attr("id"));
                $('select').moveToListAndDelete('#lstMember', "#" + node.attr("id"));
                e.preventDefault();

            });

            $(document).on("click", "button[name=btnUp]", function () {

                var node = $(this).parent().prev().children('select');
                //alert(node.attr("id"));
                $('select').moveUpDown("#" + node.attr("id"), true, false);
                e.preventDefault();


            });
            $(document).on("click", "button[name=btnDown]", function () {

                var node = $(this).parent().prev().children('select');
                //alert(node.attr("id"));
                $('select').moveUpDown("#" + node.attr("id"), false, true);
                e.preventDefault();

            });

            $(document).on("click", "button[name=btnRemove]", function () {

                var node = $(this).parent().prev().children('select');
                //alert(node.attr("id"));
                $('select').moveToListAndDelete("#" + node.attr("id"), '#lstMember');
                e.preventDefault();


            });

            //팀 관리 버튼

            $("input[name=btnSelAdd]").click(function (e) {

                var n = $('.divTeam').length;


                var divTeam = "dteam" + n;
                var selTeam = "steam" + n;
                var teamAsc = String.fromCharCode(65 + n);




                var addStaffText = '<div class="row divTeam" id="' + divTeam + '" style="margin-bottom:15px;">' +
                    '<input type="hidden" name="teamCnt" class="teamCnt" />' +
                    '<div class="col-md-3 col-sm-3 col-xs-3 add-btns">' +
                    '<input type="button" value="추 가" class="btn btn-default" name="btnAdd" />' +
                    '</div>' +

                    '<div class="col-md-9 col-sm-9 col-xs-9">' +
                    '<label class="selected-left control-label">Team ' + teamAsc + ' 팀원</label>' +
                    '<div class="selected-left">' +
                    '<select multiple class="form-control" name="selectLst" id="' + selTeam + '"></select>' +
                    '</div>' +

                    '<div class="selected-right">' +
                    '<button type="button" class="btn btn-default btn-sm" name="btnUp">' +
                    '<span class="glyphicon glyphicon-chevron-up"></span>' +
                    '</button>' +
                    '<button type="button" class="btn btn-default btn-sm" name="btnDown">' +
                    '<span class="glyphicon glyphicon-chevron-down"></span>' +
                    '</button>' +
                    '<button type="button" class="btn btn-default btn-sm" name="btnRemove">' +
                    '<span class="glyphicon glyphicon-remove"></span>' +
                    '</button>' +
                    '</div>' +
                    '</div>' +
                    '</div>';



                var rev = (n % 2) ? "#teamDiv-1" : "#teamDiv-0";


                //$(".divTeamModul").append(addStaffText);
                $(rev).append(addStaffText);

                e.preventDefault();

            });

            $("input[name=btnSelDel]").click(function (e) {

                if (!confirm("삭제하시겠습니까")) {
                    return;
                }
                var n = $('.divTeam').length - 1;

                var node = $("#dteam" + n + " select[name=selectLst]");

                //alert(node.attr("id"));


                if (n < 1) {
                    alert("마지막 1개의 팀은 삭제할 수 없습니다.");
                    return;
                }

                if (node.children("option").size() > 0) {
                    $('select').moveAllToListAndDelete("#" + node.attr("id"), '#lstMember');

                }

                $("#dteam" + n).remove();

            });


            $("input[name=btnSubmit]").click(function (e) {

                
                

                $("select[name=selectLst]").each(function (index) {

                    //alert($(this).children("option").size());
                    i = ($(this).children("option").size());

                    $(this).children("option").prop("selected", true);
                    $(".teamCnt").eq(index).val(i);

                });


                reval = 0;


                $("input[name=teamCnt]").each(function (idx, value) {

                    if ($(this).val() == 0) {
                        reval++;
                    }


                });

                if (reval > 0 ) {
                    alert(reval + "개의 팀원이 구성되지 않았습니다.");
                    return false;
                }

                $("form").submit();

                e.preventDefault();


            });


        });




    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
